# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# Set the date column as the DataFrame index
df_temp = df.copy()
#df_temp
df = df.set_index('date')
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [11]:
# Drop the date column
#df = df.reset_index()
#df
#df = df.drop(columns = 'index')
df

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [46]:
from scipy import stats
import scipy

In [7]:
df_temp.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [39]:
# Filter data for desired months

june_df = df_temp[df_temp['date'].dt.month == 6]
june_df

           station       date  prcp  tobs
133    USC00519397 2010-06-01  0.00    78
134    USC00519397 2010-06-02  0.01    76
135    USC00519397 2010-06-03  0.00    78
136    USC00519397 2010-06-04  0.00    76
137    USC00519397 2010-06-05  0.00    77
...            ...        ...   ...   ...
19492  USC00516128 2017-06-26  0.02    79
19493  USC00516128 2017-06-27  0.10    74
19494  USC00516128 2017-06-28  0.02    74
19495  USC00516128 2017-06-29  0.04    76
19496  USC00516128 2017-06-30  0.20    75

[1700 rows x 4 columns]

In [36]:
dec_df = df_temp[df_temp['date'].dt.month == 12]
dec_df.drop

           station       date  prcp  tobs
305    USC00519397 2010-12-01  0.04    76
306    USC00519397 2010-12-03  0.00    74
307    USC00519397 2010-12-04  0.00    74
308    USC00519397 2010-12-06  0.00    64
309    USC00519397 2010-12-07  0.00    64
...            ...        ...   ...   ...
19323  USC00516128 2016-12-27  0.14    71
19324  USC00516128 2016-12-28  0.14    71
19325  USC00516128 2016-12-29  1.03    69
19326  USC00516128 2016-12-30  2.37    65
19327  USC00516128 2016-12-31  0.90    65

[1517 rows x 4 columns]

In [16]:
# Identify the average temperature for June
june_avg = round(june_df['tobs'].mean(), 2)
print(f" The average temperature for June is {june_avg}F.")

 The average temperature for June is 74.94F.

In [17]:
# Identify the average temperature for December
dec_avg = round(dec_df['tobs'].mean(), 2)
print(f" The average temperature for December is {dec_avg}F.")

 The average temperature for December is 71.04F.

In [40]:
# Create collections of temperature data
june_temp = june_df['tobs']
june_temp

133      78
134      76
135      78
136      76
137      77
         ..
19492    79
19493    74
19494    74
19495    76
19496    75
Name: tobs, Length: 1700, dtype: int64

In [41]:
dec_temp = dec_df['tobs']
dec_temp

305      76
306      74
307      74
308      64
309      64
         ..
19323    71
19324    71
19325    69
19326    65
19327    65
Name: tobs, Length: 1517, dtype: int64

In [42]:
# Run paired t-test
# stats.shapiro(june_df['tobs'])
# print(f"June's {stats.shapiro(june_df['tobs'])}")
# print(f"December's {stats.shapiro(dec_df['tobs'])}")

In [47]:
# Use the t-test to determine whether the difference in the means, if any, is statistically significant. Will you use a paired t-test, or an unpaired t-test? Why?
#using an independent ttest since the two dataframes are independent of each other.
scipy.stats.ttest_ind(june_df['tobs'],dec_df['tobs'], equal_var = False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

Since the pvalue < 0.001, you can conclude that the difference means is significantly different.
Cannot run a paired ttest because the datasets are independent and unequal in lengths.